.root {
    display: grid;
    gap: 1rem;
    padding: 0rem;
    width: 100%;
}
.root table tbody tr th {
    padding: 10px;
}

.root table tbody tr td {
    padding: 10px;
}

.message {
    background-color: rgb(var(--venia-grey));
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem;
}

.message:empty {
    display: none;
}

.actions {
    display: grid;
    justify-items: center;
    margin-top: 1rem;
}

.error {
    composes: message;
    color: rgb(var(--venia-error));
}

.lead {
    composes: message;
}
